.btn {
  width: auto;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}