*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

.container {
  max-width: var(--container-size);
  padding: 0 20px;

}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}