:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #FF8469;
  --color-primary-hover: #D95133;
  --color-checkbox: #4F5565;
  --color-bg: radial-gradient(50% 50% at 50% 50%, #252E42 0%, #161C2E 100%);
  --container-size: 460px;
} 